@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit), sans-serif;
  --font-display: var(--font-syncopate), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b; /* zinc-950 */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
